
@media only screen and  (max-width:400px){
    .art-main{
        margin-top: 260%;
    }
    .home-view2{
        margin-top:30% !important; 
    }
    .reverse{
        display: flex;
        flex-direction: row-reverse;
    }
    .text-view{
        width: 100% !important;
        font-size: 11px ; 
    }
    .home-view{
        width: 100% !important;
    }
    .text-view>button{
        padding: 5px 20px ;
        font-size: 10px ;
        border-radius: 6px ;
        background-color: rgb(185, 24, 24);
        color: white;
    }
    .main-box{
        
        height: 1300px ;
    } 
    .intership-text>h1{
        font-size: 2.5rem !important;
    }
    .heading-news h1{
        font-size: 2rem !important;
        /* background-color: red; */
    }
    .section-one{
        height: 800px;
    }
    .section-six{
        height: 900Px;
    }
}
@media  (min-width:400px) and  (max-width:600px){ 
    .reverse{
        display: flex;
        flex-direction: row-reverse;
    }
    .art-main{
        margin-top: 1150px;
    }
    .news-release{
        margin-top: 200px;       
    }
    .article{
        margin-top: 200px ;
    }
    .intership-text>h1{
        font-size: 3rem !important;
    }
    .section-six{
        height: 900Px;
    }
    
    .home-view h1{
        font-size: 2.7rem;
        
    }
    .home-view2{
        height: 400px;
        /* background-color: red; */
    }
    .text-view2>h5{
        font-size: 1rem;
        
    }
}
@media  (min-width:766px) and ( max-width:800px){
    .news-box2{
        height: 450px !important;

    }
    .art-main{
        margin-top: 460px;
    }
    .reverse{
        display: flex;
        flex-direction: row-reverse;
    }
} 
@media  (min-width:600px) and ( max-width:766px) {
    .reverse{
        display: flex;
        flex-direction: row-reverse;
    }
    .section-one{
        height: 800px;
    }
    .reverse{
        display: flex;
        flex-direction: row-reverse;
    }
    .home-view{
        width: 100% !important;
        
    }
    .news-release{
        display: flex;
        flex-direction: column;
        height: 30%;
        margin-top:270px  ;
    }
    .home-view2{
        margin-bottom:0% !important; 
    }
    .text-view{
        
        width: 100%;
    }
    .text-view>button{
        padding: 8px 30px ;
        font-size: 14px ;
        border-radius: 6px ;
        background-color: rgb(185, 24, 24);
        color: white;
    }
    .news-box1{
        height: 400px;
    }
    .news-box2{
        height: 470px !important;

    }
    .article{
        margin-top: 300px;
    }
    .art-main{
        margin-top: 190%;
        /* background-color: red; */
    }

}
@media  (min-width:800px) and (max-width:1000px) {
   
    .art-main{
        margin-top: 460px;
    }
    .news-box3-1{
        height: 50%;
        margin-bottom: 1%;
    }
    .news-box3-2{
        height: 50% ;
    }
    
    .section-two{
        height: 70%;
    }
    .news-release{
        margin-top: 30% !important;
    }
    
}

@media  (min-width:1000px) and (max-width:1200px){


    .news-box3-1{
        height: 190px !important;
        margin-bottom: 10%;
    }
    .news-box3-2{
        height: 190px !important;
    }
       
}
@media  (max-width:991px){
    .nasa-logo{
        position: absolute;
        top: 12px;
        left:40%;
        margin: 0px ;
    }
    .form-control{
        display: none;
    }

    .search-icon{
        display: initial;
        width: 40px;
        margin-left: 0px !important;
    }
    .explore{
        display: none;
    }
}